.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register--container {
  width: 300px;
  height: 300px;
  border-radius: 0.3rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;

  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 50px;
  padding: 20px;

  text-align: center;
}

.register--input {
  height: 30px;

  border-radius: 0.3rem;
  margin: 10px 0;
  padding-left: 10px
}

.submit {
  padding: 0;
  border-radius: 5px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

input, button {
  border: 0
}

.title-games {
  margin: 2rem;
}