.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register--container {
  width: 300px;
  height: 300px;
  border: 3px solid #e0e0e0;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 50px;
  padding: 20px;

  text-align: center;
}

.register--input {
  height: 30px;

  border-radius: 0.3rem;
  margin: 10px 0;
  padding-left: 10px
}

.submit {
  padding: 0;
}